<ion-view title="edit" id="page3">
  <ion-content padding="true" class="has-header">
    <h1 id="edit-heading4" style="color:#000000;text-align:center;">New Product</h1>
    <a ui-sref="examples()" id="edit-button4" class="button button-positive button-small button-block button-clear">Click here for help &amp; examples</a>
    <form id="edit-form1" class="list">
      <label class="item item-input item-stacked-label" id="edit-input1">
        <span class="input-label">Product Name</span>
        <input type="text" placeholder="Your Amazing Product Title">
      </label>
      <label class="item item-input align-right" id="edit-input2">
        <span class="input-label">Price MATIC</span>
        <input type="number" placeholder="0.0">
      </label>
      <div class="spacer" style="width: 300px; height: 16px;"></div>
      <label class="item item-input item-stacked-label" id="edit-input9">
        <span class="input-label">Paid link</span>
        <input type="text" placeholder="https://drive.google.com/...">
      </label>
      <div class="spacer" style="width: 300px; height: 16px;"></div>
      <label class="item item-select" id="edit-select1">
        <span class="input-label">Referral %</span>
        <select>
          <option>0</option>
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
      </label>
      <label class="item item-select" id="edit-select2">
        <span class="input-label">Donate to service %</span>
        <select>
          <option>0</option>
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
      </label>
    </form>
    <a ui-sref="product()" id="edit-button6" class="button button-dark button-block button-outline">PREVIEW</a>
    <a ui-sref="product()" id="edit-button35" class="button button-energized button-block">PUBLISH</a>
    <a ui-sref="terms()" id="edit-button27" class="button button-stable button-small button-block button-clear">By clicking, you agree with Terms</a>
  </ion-content>
</ion-view>