<ion-view title="faq" id="page2">
  <ion-content padding="true" class="has-header">
    <h1 id="faq-heading3" style="color:#000000;text-align:center;">FAQ</h1>
    <div id="faq-markdown1" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Frequently Asked Questions</p>
    </div>
    <div class="spacer" style="width: 300px; height: 23px;"></div>
    <div id="faq-markdown2" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Some friendly
        <strong>markdown</strong>
      </p>
    </div>
  </ion-content>
</ion-view>