<ion-view title="home" id="page1">
  <ion-content padding="true" class="has-header">
    <h1 id="home-heading1" style="color:#000000;font-weight:600;text-align:center;">Sell File</h1>
    <div>
      <img src="img/box.png" style="display: block; width: 50%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h4 id="home-heading2" style="color:#000000;text-align:center;">Sell files for crypto with ease!</h4>
    <a ui-sref="edit()" id="home-button1" class="button button-energized button-block">PLACE NEW PRODUCT</a>
    <div id="home-markdown9" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">It will take couple of minutes</p>
    </div>
    <a ui-sref="faq()" id="home-button2" class="button button-positive button-small button-block button-clear">Read our FAQ</a>
    <a ui-sref="products()" id="home-button23" class="button button-energized button-small button-block">YOUR PRODUCTS</a>
    <a ui-sref="purchases()" id="home-button13" class="button button-dark button-small button-block button-outline">YOUR PURCHASES</a>
  </ion-content>
</ion-view>
