<ion-view title="howto" id="page6">
  <ion-content padding="true" class="has-header">
    <h1 id="howto-heading9" style="color:#000000;text-align:center;">How To Order</h1>
    <a ui-sref="faq()" id="howto-button9" class="button button-positive button-small button-block button-clear">Click here to read FAQ</a>
    <div class="spacer" style="width: 300px; height: 23px;"></div>
    <div id="howto-markdown7" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Some friendly
        <strong>markdown</strong>
      </p>
    </div>
  </ion-content>
</ion-view>