<ion-view title="products" id="page9">
  <ion-content padding="true" class="has-header">
    <h1 id="products-heading13" style="color:#000000;text-align:center;">Your Products</h1>
    <a ui-sref="edit()" id="products-button15" class="button button-energized button-block">ADD NEW</a>
    <ion-list id="products-list1">
      <ion-item class="item-thumbnail-left item-icon-right" id="products-list-item1" ui-sref="product()">
        <img src="img/box.png">
        <h2>Your Amazing Product</h2>
        <p>2.99 MATIC</p>
        <i class="icon ion-bag"></i>
      </ion-item>
      <ion-item class="item-thumbnail-left item-icon-right" id="products-list-item2" ui-sref="product()">
        <img src="img/box.png">
        <h2>Unpublished product</h2>
        <p>9.99 MATIC</p>
        <i class="icon ion-eye-disabled"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
