<ion-view title="product" id="page5">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/box.png" style="display: block; width: 50%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h1 id="product-heading8" style="color:#000000;text-align:center;">Your Amazing Product</h1>
    <a ui-sref="howto()" id="product-button10" class="button button-positive button-small button-block button-clear">Earn 20% by offering this product</a>
    <h2 id="product-heading10" style="color:#000000;text-align:center;">for 2.99 MATIC</h2>
    <h5 id="product-heading11" style="color:#A1A1A1;text-align:center;">6 items left</h5>
    <form id="product-form3" class="list">
      <div class="spacer" style="width: 300px; height: 16px;"></div>
    </form>
    <a ui-sref="purchased()" id="product-button18" class="button button-energized button-block">ORDER NOW</a>
    <a ui-sref="terms()" id="product-button25" class="button button-stable button-small button-block button-clear">By clicking, you agree with Terms</a>
    <a ui-sref="howto()" id="product-button7" class="button button-positive button-small button-block button-clear">How to purchase here</a>
    <button id="product-button8" class="button button-energized button-block">EDIT PRODUCT</button>
    <button id="product-button19" class="button button-stable button-small button-block button-clear">This is your product</button>
    <button id="product-button17" class="button button-dark button-small button-block">UNPUBLISH</button>
  </ion-content>
</ion-view>
