<ion-view title="purchases" id="page10">
  <ion-content padding="true" class="has-header">
    <h1 id="purchases-heading14" style="color:#000000;text-align:center;">Purchases</h1>
    <ion-list id="purchases-list2">
      <ion-item class="item-thumbnail-left" id="purchases-list-item3" ui-sref="purchased()">
        <img src="img/box.png">
        <h2>Your Amazing Product</h2>
        <p>2.99 MATIC</p>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="purchases-list-item4" ui-sref="purchased()">
        <img src="img/box.png">
        <h2>Unpublished product</h2>
        <p>9.99 MATIC</p>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
