<ion-view title="purchased" id="page8">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/color000000bgcolorFFFFFFdataHelloWorldqzone1margin0size400x400eccL" style="display: block; width: 50%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h1 id="purchased-heading15" style="color:#000000;text-align:center;">Your Amazing Product</h1>
    <a ui-sref="howto()" id="purchased-button28" class="button button-positive button-small button-block button-clear">Earn 20% by offering this product</a>
    <button id="purchased-button21" class="button button-balanced button-small button-block button-clear">purchased</button>
    <button id="purchased-button22" class="button button-energized button-block">OPEN LINK</button>
    <form id="purchased-form6" class="list">
      <label class="item item-input" id="purchased-input10">
        <input type="text" placeholder="4565 8798 5454 6584">
      </label>
    </form>
    <button id="purchased-button29" class="button button-dark button-small button-block">COPY TO CLIPBOARD</button>
  </ion-content>
</ion-view>