<ion-view title="terms" id="page11">
  <ion-content padding="true" class="has-header">
    <h1 id="terms-heading16" style="color:#000000;text-align:center;">Terms of Service</h1>
    <a ui-sref="faq()" id="terms-button26" class="button button-positive button-small button-block button-clear">Click here to read FAQ</a>
    <div class="spacer" style="width: 300px; height: 23px;"></div>
    <div id="terms-markdown8" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Some friendly
        <strong>markdown</strong>
      </p>
    </div>
  </ion-content>
</ion-view>